/target
*.log
src/config.rs
subprojects/*/

subprojects/FFmpeg.wrap
subprojects/avtp.wrap
subprojects/dv.wrap
subprojects/fdk-aac.wrap
subprojects/gi-docgen.wrap
subprojects/gl-headers.wrap
subprojects/glib-networking.wrap
subprojects/glib.wrap
subprojects/gvdb.wrap
subprojects/json-glib.wrap
subprojects/lame.wrap
subprojects/libffi.wrap
subprojects/libmicrodns.wrap
subprojects/libnice.wrap
subprojects/libsass.wrap
subprojects/openh264.wrap
subprojects/opus.wrap
subprojects/orc.wrap
subprojects/pcre2.wrap
subprojects/pycairo.wrap
subprojects/pygobject.wrap
subprojects/sassc.wrap
subprojects/vorbis.wrap
subprojects/wayland-protocols.wrap
subprojects/wayland.wrap
