@define-color graphview-link #808080;

button.node {
  color: rgb(0, 0, 255);
  background: rgb(170, 255, 170);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

button.node-selected {
  border-color: rgb(255, 0, 0);
  background: rgb(170, 255, 170);
}

button.port {
  color: rgb(0, 0, 255);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

button.port-selected {
  border-color: rgb(255, 0, 0);
}

button.port-out {
  background: rgb(255, 170, 170);
}

button.port-in {
  background: rgb(170, 170, 255);
}

button.port-sometimes {
  border-style: dashed;
}

button.port-always {
  border-style: solid;
}

graphview {
  background: #d0d2d4;
}
