@define-color graphview-link #808080;

button.node {
  color: rgb(0, 0, 255);
  background: rgb(170, 255, 170);
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

button.node-selected {
  border-color: rgb(255, 0, 0);
  background: rgb(170, 255, 170);
}

button.node-light {
  border-style: dashed;
}

/* Port - visual 10x10px elements */
port {
  min-width: 10px;
  min-height: 10px;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(0, 0, 0);
}

port.port-selected {
  border-color: rgb(255, 0, 0);
}

port.port-out {
  background: rgb(255, 170, 170);
  transform: translateX(25px);
}

port.port-in {
  background: rgb(170, 170, 255);
  transform: translateX(-25px);
}

port.port-sometimes {
  border-style: dashed;
}

port.port-always {
  border-style: solid;
}

graphview {
  background: #d0d2d4;
}
